<h2 class="prices-header">Insurance prices</h2>
<div class="prices">
  <div class="prices-form">
    <form action="#">
      <mat-form-field class="prices-field" appearance="outline">
        <mat-label>Standard</mat-label>
        <input class="prices-input" matInput placeholder="Enter price">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field class="prices-field" appearance="outline">
        <mat-label>Business</mat-label>
        <input class="prices-input" matInput placeholder="Enter price">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field class="prices-field" appearance="outline">
        <mat-label>V.I.P.</mat-label>
        <input class="prices-input" matInput placeholder="Enter price">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field class="prices-field" appearance="outline">
        <mat-label>V.I.P. child</mat-label>
        <input class="prices-input" matInput placeholder="Enter price">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <div class="prices-info">
    <span class="prices-info-header">Current prices:</span>
    <p><span class="prices-info-type">Standard:</span> 3000</p>
    <p><span class="prices-info-type">Business:</span> 3000</p>
    <p><span class="prices-info-type">V.I.P.:</span> 3000</p>
    <p><span class="prices-info-type">V.I.P. child:</span> 3000</p>

    <button type="submit" mat-raised-button class="save-prices">
      <span class="save-prices-text">Save</span>
    </button>
  </div>
</div>
