$default-font: 'Source Sans Pro',sans-serif;
$dark-font-color: #F6F6F6;
$grey: #8E8E8E;
$dark-grey: #4A4A4A;
$light-gray: #E0E0E0;
$base-color: #F78900;
$light-base-color: #FFA73A;
$warn-color: #F44336;
$white: #FFFFFF;
$base-yellow: #FBBC01;
$light-yellow: #FFCC53;
